.drink-list-display {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0 6%;

}

img {
  width: 15vw;
  height: 25vh;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}
