<h3> Add a Drink </h3>

<div class="drink-div">
  <div class="container-fluid">
    <div class="row">
      <div class="add-drink-form">
        <div class="col-sm-6 add-drink-form-left-div">
          <div class="add-drink-form-leftside-left-div">
            <div class="add-drink-form-leftside-labels">

              <label for="drinkName-input"> Enter Drink Name: </label>
              <input id="drinkName-input" type="text" name="drinkName" [(ngModel)]="newDrink.drinkName" />
              <br />
              <br />

              <label for="description-input"> Enter Drink Description: </label>
              <input id="description-input" type="text" name="description" [(ngModel)]="newDrink.description" />
              <br />
              <br />

              <label for="image-input"> Add Drink Image:  </label>
              <input id="image-input" type="text" name="image" [(ngModel)]="newDrink.image" />
              <br />
              <br />

              <label for="deirections-input"> Directions: </label>
              <textarea id="descriptiion-input" name="deirections" [(ngModel)]="newDrink.deirections" ></textarea>

            </div>
            <div>









            </div>


          </div>

        </div>

        <div class="col-sm-6">
          <h4> Ingredients for your Drink </h4>
          <div class="ingredients-flex">
            <div>
              <label for="ingredients-input1"></label>
              <br />
              <input id="ingredients-input1" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[0]" />
              <br />

              <label for="ingredients-input2"></label>
              <br />
              <input id="ingredients-input2" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[1]" />
              <br />

              <label for="ingredients-input3"></label>
              <br />
              <input id="ingredients-input3" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[2]" />
              <br />

              <label for="ingredients-input4"></label>
              <br />
              <input id="ingredients-input4" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[3]" />
              <br />
            </div>

            <br />

            <div class="add-drink-form-right-div">
              <label for="ingredients-input5"></label>
              <br />
              <input id="ingredients-input5" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[4]" />
              <br />

              <label for="ingredients-input6"></label>
              <br />
              <input id="ingredients-input6" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[5]" />
              <br />

              <label for="ingredients-input7"></label>
              <br />
              <input id="ingredients-input7" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[6]" />
              <br />

              <label for="ingredients-input8"></label>
              <br />
              <input id="ingredients-input8" type="text" name="ingredients" [(ngModel)]="newDrink.ingredients[7]" />
              <br />
            </div>
          </div>

        </div>
        <button class="add-btn" (click)="addDrink()"> Add Drink </button>
      </div>

    </div>


    </div>
  </div>
