.add-drink-form {
  display: flex;
  flex-flow: row wrap;
  width: 53vw;
  line-height: 2vh;
  justify-content: space-around;
}

.drink-div {
  display: flex;
  justify-content: center;
}

.add-btn {
  background-color: #0e0b16;
  border-color: #0e0b16;
  color: #d5d5d5;
  outline-color: #ff553d;
  font-size: 1vw;
  border-radius: 1.7vw .5vw;
  outline-style: double;
}

.add-btn:hover {
  background-color: #ff553d;
  border-color: #ff553d;
  color: #d5d5d5;
  outline-color: #0e0b16;
  border-radius: .5vw 1.7vw;
  outline-style: double;
}

label {
  clear:left;
  text-align:right;
  padding-right:10px;
}

input, label {
  float: left;
}

input {
  clear: right;
  text-align:left;
  padding-right:10px;
}

input, textarea {
  float: right;
}

input, textarea {
  border: 2px solid #d5d5d5;
  border-radius: 5px;
}

h3 {
  margin: 0 auto;
  text-align: center;
  padding: 4vh;
}

h4 {
  margin: 0;
}

button {
  margin: 2vw;
}

.ingredients-flex {
  display: flex;
  flex-direction: row;
}

.row {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.add-drink-form-left-div {
  margin-top: 4.5vh;
}

.add-drink-form-right-div {
  padding-bottom: 4vh;
}

.add-drink-form-leftside-left-div {
  display: flex;
}

li {

}
