.drink-list-display {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}

img {
  width: 200px;
}

h2 {
  text-align: center;
}

.show-addDrink{
  visibility: hidden;
}

.form-button {
  display: flex;
  justify-content: center;
}
