<div class=nav-header>
  <header>
    <h1> Drinkologist </h1>

    <div class="user-show-nav">
      <img *ngIf="userThang.currentUser" src="{{ userThang.currentUser.image }}" />
      <p *ngIf="userThang.currentUser">
    Hello, <b>{{ userThang.currentUser.username }}</b>
    </p>
    </div>
  </header>
  <nav>
    <div>
      <a routerLink="/"> Home </a>
      <a routerLink="/drinks"> Drinks </a>
    </div>

    <div>
      <a *ngIf="userThang.currentUser" routerLink="/logout" (click)="logout()"> Log Out </a>
      <a routerLink="/join"> Join Us </a>
    </div>
  </nav>
</div>
<hr />



<router-outlet></router-outlet>
