h1 {
  font-size: 105px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
}

a {
  font-size: 45px;
  border: 1px solid black;
  background-color: midnightblue;
}

.homepage {
  background-image: url("../../assets/splash-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  color: midnightblue;
  justify-content: center;
  text-align: center;
}
