h1 {
  font-size: 105px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
  color: #ff553d;
}

a {
  font-size: 45px;
  border: 1px solid #e7dfdd;
  background-color: transparent;
  color: #e7dfdd;
}

.homepage {
  /*background-image: url("../../assets/splash-background.jpg");*/
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5f/dd/40/5fdd4013bddcf1cfbad85a44592f4251.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 92vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
