button {
  background-color: #123b41;
  color: white;
  font-size: 1.1vw;
}

a {
  color: #ff553d;
  font-size: 1.2vw;
  padding-right: 1.3vw;
  margin-left: 3vw;
  /*cursor: pointer;*/
}

.add-favorite-btn {
  cursor: copy;
}

.remove-favorite-btn {
  cursor: url('./../../assets/cursor.cur'), auto
}

.edit-btn {
  background-color: #0e0b16;
  border-color: #0e0b16;
  color: #d5d5d5;
  outline-color: #ff553d;
  outline-color: #ff553d;
  border-radius: .5vw 1.7vw;
  outline-style: double;
}

.edit-btn:hover {
  background-color: #ff553d;
  border-color: #ff553d;
  color: #d5d5d5;
  outline-color: #0e0b16;
  outline-color: #0e0b16;
  border-radius: 1.7vw .5vw;
  outline-style: double;
}


.buttons {
  display: flex;
  flex-direction: row;
  padding-left: 7%;
}

img {
  width: 18vw;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0 auto;
}

.drink-details-top {
  display: flex;
  box-sizing: border-box;
  width: 85%;
  padding:  0 4% 0 9%;
  justify-content: space-around;
}

.drink-image {
  box-sizing: border-box;
  width: 53%;
  padding-left: 18%;
}

.drink-primary-info {
  box-sizing: border-box;
  width: 42%;
  margin: 0 7% 0 3%
}

.drink-details-bottom {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding:  0 4% 0 11%;
}

.ingredients-div {
  box-sizing: border-box;
  width: 44%;
  border-right: solid 1px lightgray;
}

.directions-div {
  box-sizing: border-box;
  width: 40%;
  padding-left: 11%;
}
