button {
  background-color: #123b41;
  color: white;
  font-size: 20px;
}

.buttons {
  padding-left: 20px;
}

img {
  width: 85%;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0 auto;
}

.drink-details-top {
  display: flex;
  box-sizing: border-box;
  width: 85%;
  padding: 0 20px;
}

.drink-image {
  box-sizing: border-box;
  width: 50%;
  padding-left: 167px;
}

.drink-primary-info {
  box-sizing: border-box;
  width: 40%
}

.drink-details-bottom {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.ingredients-div {
  box-sizing: border-box;
  width: 44%;
  border-right: solid 1px lightgray;
}

.directions-div {
  box-sizing: border-box;
  width: 25%;
  padding-left: 30px;
}
